.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .card {
        margin: 1em;
    }
}

#shopping-cart-btn {
    position: absolute;
    right: 3em;
    top: 1.5em;
}